* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.viewer {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.container img {
  max-width: 56.25vw;
  max-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-image: url("./../assets/img/loading.gif") 80% no-repeat;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
}

@media (max-width: 720px) {
  .container img {
    max-width: 80%;
  }
}

.fade-out {
  -webkit-animation: fadeOut 1.5s;
          animation: fadeOut 1.5s;
}

.fade-in {
  -webkit-animation: fadeIn 1.5s;
          animation: fadeIn 1.5s;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg.tea {
  --secondary: #33406f;
}

svg.tea #teabag {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  -webkit-animation: swing 2s infinite;
          animation: swing 2s infinite;
}

svg.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  -webkit-animation: steamLarge 2s infinite;
          animation: steamLarge 2s infinite;
}

svg.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  -webkit-animation: steamSmall 2s infinite;
          animation: steamSmall 2s infinite;
}

@-webkit-keyframes swing {
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes swing {
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    position: relative;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    position: relative;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */